ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--primaryColor);
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: var(--whiteColor);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #6fb2c3;
}

:root{
    --primaryColor: #7cc6d9; 
    --softColor: #f1f9fb;
    --blackColor: #0a0f0f;
    --whiteColor: #ffffff;
    --titleColor: #639ead;

}

*{
    box-sizing: border-box;
    outline: none;
    font-family: 'Open Sans', sans-serif;
}

body{
    width: 100%;
    height: auto;
    padding: 0%;
    background-color: var(--softColor);
}

.header-title{
    display: block;
    position: relative;
    width: 100%;
    letter-spacing: 1.2;
    font-size: 30px;
    font-weight: 700;
    color: #4a7682;
}

.faq{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 3;
}


.faq-wrapper{
    width: 100%;
    padding: 1.5rem;
    border-bottom: 1px solid var(--primaryColor) ;
}

.faq-title{
    display: block;
    position: relative;
    width: 100%;
    letter-spacing: 1.2;
    font-size: 24px;
    font-weight: 600;
    color: var(--titleColor);
}
.faq-header{
    display: block;
    position: relative;
    width: 100%;
    letter-spacing: 1.2;
    font-size: 24px;
    font-weight: 600;
    color: #568a97;
}

.faq-title::after{
    width: 10px;
    height: 10px;
    content: "";
    float: right;
    border-style: solid;
    border-width: 2px 2px 0 0;
    transform: rotate(135deg);
    transition: 0.4s ease-in-out;
}

.faq-detail{
    line-height: 1.5;
    letter-spacing: 1;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    font-size: 14px;
}

.faq-trigger{
    display: none;
}

.faq-trigger:checked + .faq-title + .faq-detail{
    max-height: 300px;
}

.faq-trigger:checked + .faq-title::after{
    transform: rotate(-45deg);
    transition: 0.4s ease-in-out;
}

.about{
    line-height: 1.5;
    letter-spacing: 1;
    font-size: 16px;
}